body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div.intro-container {
    display: grid;
    background-color: black;
}

div.intro-text-container {
}

h1.intro-title {
    display: inline-block;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    margin: 0;
}

h1.intro-title::after {
    /* This creates a strikethrough line through the title. */
    border-bottom: 1px solid white;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 5px;
}

a.intro-subtitle-link {
    color: white;
    /* Remove the default link underline */
    text-decoration: none;
}

p.intro-subtitle {
    color: white;
    font-family: 'Source Sans Pro';
    text-align: left;
    position: relative;
}

p.intro-text {
    color: white;
    font-family: 'Source Sans Pro';
    text-align: left;
    position: relative;
}

div.intro-form-container {
}

form.new-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

textarea.description {
    font-family: 'Source Sans Pro';
    /* resize: none means the user cannot resize the text field
       using the grabber in the bottom right */
    resize: none;
    /* The properties below override the default border and
       blue highlighting behavior of the textarea. */
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid black;
}

div.form-input-container {
    display: flex;
}

input.image-form {
    /* These properties hide the actual input element from view.
       The <label> is the actual clickable element for these inputs. */
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 0.1px;
    width: 0.1px;
}

label.image-form {
    /* cursor: pointer means the cursor will turn into a hand
       when the user hovers over the label. */
    cursor: pointer;
    background-color: white;
    color: black;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    text-align: center;
    position: relative;
    /* See below for an explanation of the z-index crap */
    z-index: 2;
    /* All this user-select crap is to make it so the user can't select 
       the text of the label. This way it behaves more like a button. */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.image-form:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    /* This creates a 1px border inside the label. */
    border: 1px solid black;
    content: "";
    position: absolute;
    /* z-index of the "before" pseudoelement must be lower than that of the label itself,
       so that the label will still be clickable. But the label can't have z-index of 0
       or else the "before" pseudoelement will not be visible.
       So I gave the label a z-index of 2. */
    z-index: 1;
}

div.content-row {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    background-position: center;
    background-size: cover;
}

div.row-description-container {
    grid-column-start: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

p.description {
    font-family: 'Source Sans Pro';
    font-size: 2vw;
    color: white;
    text-align: left;
    /* Some crap here to get the text to truncate properly
       when the paragraph reaches its max-height. */
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    margin: 0;
    max-height: 23vw;
}

/* Mobile layout */

@media screen and (max-width: 1200px) {
    
    div.container {
        margin: 0;
        width: 100vw;
    }
    
    div.intro-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 160px;
    }
    
    h1.intro-title {
        font-size: 8vw;
        top: 6vw;
        left: 10vw;
        width: 54vw;
    }
    
    p.intro-subtitle {
        font-size: 14px;
        line-height: 20px;
        top: -5vw;
        left: 74vw;
        width: 20vw;
        max-width: 120px;
    }
    
    p.intro-text {
        font-size: 16px;
        line-height: 24px;
        top: 0vw;
        left: 10vw;
        width: 80vw;
    }
    
    div.intro-form-container {
        grid-row-start: 2;
    }
    
    textarea.description {
        font-size: 18px;
        line-height: 30px;
        padding: 5px;
        margin: 15px 20px 15px 20px;
    }
    
    div.form-input-container {
        justify-content: space-between;
        margin: 0 20px 15px 20px;
    }
    
    label.image-form {
        font-size: 16px;
        letter-spacing: 3px;
        padding: 15px 10px 15px 10px;
        width: calc(50vw - 50px);
    }
    
    div.content-row {
        height: 33vw;
    }
    
    div.row-description-container {
        margin: 3vw 4vw auto 0vw;
        padding: 2vw;
        max-height: 23vw;
    }
    
    p.description {
        font-size: 14px;
        line-height: 20px;
        max-height: 23vw;
    }
}

/* Desktop layout */

@media screen and (min-width: 1201px) {
    
    div.container {
        margin: 0 auto 0 auto;
        width: 1200px;
    }
    
    div.intro-container {
        grid-template-columns: 60% 40%;
        grid-template-rows: 100%;
        height: 400px;
    }
    
    h1.intro-title {
        font-size: 40pt;
        top: 70px;
        left: 175px;
        width: 370px;
    }
    
    p.intro-subtitle {
        font-size: 12pt;
        top: 60px;
        left: 550px;
        width: 120px;
    }

    p.intro-text {
        font-size: 12pt;
        top: 80px;
        left: 80px;
        width: 600px;
    }
    
    div.intro-form-container {
        grid-column-start: 2;
    }
    
    textarea.description {
        font-size: 12pt;
        padding: 5px;
        margin: 40px;
        height: 140px;
    }
    
    div.form-input-container {
        align-self: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 40px;
    }

    label.image-form {
        font-size: 12pt;
        letter-spacing: 2px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 30px;
        width: 150px;
    }
    
    div.content-row {
        height: 400px;
    }
    
    div.row-description-container {
        margin: 40px 40px auto 40px;
        padding: 20px;
        max-height: 280px;
    }
    
    p.description {
        font-size: 12pt;
        max-height: 280px;
    }
}