<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/decay.css">
    <title>decay theory</title>
  </head>
  <body>
    <div class="container">
      <div class="intro-container">
        <div class="intro-text-container">
          <h1 class="intro-title">decay theory</h1>
        </div>
        <div class="intro-form-container">
          <form class="new-image" action="/submit_image" method="post" enctype="multipart/form-data">
            <textarea class="description" name="description"></textarea>
            <input type="file" name="image" accept=".jpg,.jpeg">
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      {% for item in items %}
      <div class="content-row" style="background-image: url('static/images/{{ item['filename'] }}')">
        {% if item['description'] is defined and item['description']|length > 0 %}
        <div class="row-description-container">
          <p class="description">
            {{ item['description'] }}
          </p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>