<!DOCTYPE html>
<!--
    ___________________
   | ________o________ |
   ||                 ||
   ||  I wish I knew  ||
   ||  how to make    ||
   ||  a website!!    ||
   ||_________________||
   /.-.-.-.-.-.-.-.-. o\
  /.-.-.-.-.-.-.-.-.-.-.\
 /.-.-.-.-.-.-.-.-.-.-.-.\
/_______/_________\_______\
\_________________________/

-->
<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/decay.css">
    <title>decay theory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
  </head>
  <body>
    <div class="container">
      <div class="intro-container">
        <div class="intro-text-container">
          <h1 class="intro-title">decay theory</h1>
          <p class="intro-subtitle">
            <a href="https://designinquiry.net/projects/no-quo/" class="intro-subtitle-link">
              A 'What if' grown from the soil of <u>DesignInquiry NO&nbsp;QUO</u>
            </a>
          </p>
          <p class="intro-text">
            Please submit a photo along with a short description. Decay Theory allows you to participate in an exchange of narrative and experience, by which you add to the unpredictable decay and misinterpretation of previous entries. It is an act of curiosity, catharsis, and unequal exchange. What you give takes from what was given.
          </p>
        </div>
        <div class="intro-form-container">
          <form class="new-image" action="/submit_image" method="post" enctype="multipart/form-data">
            <textarea class="description" name="description"></textarea>
            <div class="form-input-container">
              <input class="image-form" id="image-input" type="file" name="image" accept=".jpg,.jpeg">
              <label class="image-form" for="image-input">CHOOSE FILE</label>
              <input class="image-form" type="submit" id="image-submit" value="Submit">
              <label class="image-form" for="image-submit">SUBMIT</label>
            </div>
          </form>
        </div>
      </div>
      {% for item in items %}
      <div class="content-row" style="background-image: url('static/images/{{ item['filename'] }}')">
        {% if item['description'] is defined and item['description']|length > 0 %}
        <div class="row-description-container">
          <p class="description">
            {{ item['description'] }}
          </p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <script src="static/script.js"></script>
  </body>
</html>
